 body {
     background-color: rgb(25, 25, 25);
     color: white;
     font-family: arial;
 }
 
 .container {
     text-align: center;
 }
 
 .heading {
     margin-left: 35px;
     font-weight: bold;
     margin-bottom: 50px;
     color: rgb(8, 203, 203);
 }
 
 .move-icon {
     height: 60px;
 }
 
 .move-button {
     background-color: transparent;
     border: 5px solid rgb(14, 8, 82);
     padding: 40px;
     border-radius: 50%;
     margin-left: 20px;
     transition: transform 0.25s, border-color 0.25s;
     cursor: pointer;
 }
 
 .move-button:hover {
     opacity: 0.8;
     border-color: rgb(24, 13, 150);
 }
 
 .move-button:active {
     border-color: white;
     transform: scale(1.2);
 }
 
 .result {
     font-size: 25px;
     font-weight: bold;
     margin-top: 50px;
 }
 
 .score {
     margin-top: 60px;
     margin-bottom: 30px;
 }
 
 .udjust {
     margin-left: 50px;
 }
 
 .reset,
 .auto-play,
 .reset-confirm-button {
     padding: 10px 20px;
     font-weight: bold;
     border: none;
     background-color: rgb(77, 178, 209);
     color: white;
     cursor: pointer;
     transition: opacity 0.25s;
 }
 
 .reset:active,
 .auto-play:active,
 .reset-confirm-button:active {
     opacity: 0.7;
 }
 
 .reset-confirm-button {
     margin-left: 10px;
 }
 
 .js-reset-confirmation {
     color: white;
     font-weight: bold;
 }